


<div class="row">
  <div class="col s12">

<div class="calendar">

  <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <div class="row">
          <div class="col s12">
            <div class="col s12 m6">
              <h4 class="teal-text text-darken-3">Homework</h4>
              <div class="divider"></div>
              <%# Homework example  %>
              <div class="border-left grey lighten-4">
                <div class="card-content">
                  <h5>Math</h5>
                  <p>Page : <span class="teal-text darken-2">5</span> </p>
                  <p>Exercise (s) : <span class="teal-text darken-2">3A,3B,4A</span> </p>
                  <div class="close-panel">
                    <i class="material-icons">close</i>
                  </div>
                </div>
              </div>
              <%# / Homework example   %>
              <%# DELETE EXAM %>
              <div class="card-content grey lighten-2">
                <center><i class="material-icons">add</i></center>
              </div>
            </div>
            <div class="col s12 m6">
              <h4 class="teal-text text-darken-3">Exams</h4>
              <div class="divider"></div>
              <%# Exams example  %>
              <div class="border-left grey lighten-4">
                <div class="card-content">
                  <h5>Geography</h5>
                  <p>Pages : <span class="teal-text darken-2">12-57 + notebook</span> </p>
                  <p>Additional info : <span class="teal-text darken-2">none</span> </p>
                  <div class="close-panel">
                    <i class="material-icons">close</i>
                  </div>
                </div>
              </div>
              <%# / Exams example   %>
              <%# DELETE EXAM %>
              <div class="card-content grey lighten-2">
                <center><i class="material-icons">add</i></center>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
    </div>
  <center> <ul class="calendar-first-week">
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
  </ul></center>
  <center> <ul class="calendar-first-week">
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
  </ul></center>
  <center> <ul class="calendar-first-week">
    <a href="#modal1" class="modal-trigger"> <li class="teal darken-2 white-text">15</li></a>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
  </ul></center>
  <center> <ul class="calendar-first-week">
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
  </ul></center> <ul class="calendar-first-week">
    <li>29</li>
    <li>30</li>
</div>



  </div>
</div>
