<ul id="slide-out" class="side-nav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>

  <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light teal darken-3 floating-bottom show-on-large"><i class="material-icons">menu</i></a>