<ul id="slide-out" class="side-nav">
    <div class="user teal darken-3">
      <div class="container">
        <img class="img-responsive user_prof_img" src="<%= profile_img %>" alt="">
          <div class="divider" style="opacity:.1"></div>
          <h5 class="user-name">Smath-Labs</h5>
          <h5 class="user-email">contact.smath@gmail.com</h5>

      </div>

    </div>
      <li><a href="/calendar"><i class="material-icons teal-text text-darken-3">perm_contact_calendar</i>Calendar</a></li>
      <li><a href="#!"><i class="material-icons teal-text text-darken-3">chevron_right</i>Log out</a></li>
    </ul>

  <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light teal darken-3 floating-bottom show-on-large"><i class="material-icons">menu</i></a>
