<main class="profile_main">

    <div class="card white lighten-4">
      <div class="card-content black-text">

    <h4 class="profile_name teal-text text-darken-3">Profile</h4>
    <div class="divider"></div>
<br>

      <img class="img-responsive user_prof_img_green" style="display: block;margin: 0 auto; " src="<%= profile_img %>" alt="">
      <h5 class="center teal-text text-darken-2"><%= profile_name %></h5>
      <h5 class="grey-text text-darken-3 center font-size-1em"><%= email %></h5>


  
  </div>
  </div>
</main>
