<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
</head>
<body>
	<% include partials/header.ejs %>

	<% include partials/menu.ejs %>
	<div class="container">
		<main class="error">
		<h1 class="error-title">whoops!</h1>
		<h1 class="error_404">404</h1>
		<h1 class="error-title">This is not the page you are looking for!</h1>
		</main>
	</div>


	<% include partials/footer.ejs %>
</body>
</html>
