<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head.ejs %>
	<title><%= titulo %></title>
</head>
<body>

	 <% include partials/header.ejs %>

	 <% include partials/menu.ejs %>


	 <div class="container">
	 	<div class="row">
	 		<div class="col s12 m4">
					<div class="card">
						<div class="card-content">
							<h5 class="teal-text text-darken-1">Calendar</h5>
							<div class="divider"></div>
							<div style="margin-top: 20px">
					
								<% include partials/calendar-part.ejs %>

							</div>

						</div>
					</div>
	 		</div>
			<div class="col s12 m8">

						<% include partials/profile_part.ejs %>

			</div>
	 	</div>
	 </div>


	<% include partials/footer.ejs %>

</body>
</html>
