@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
	font-family: 'Barlow', sans-serif;
	overflow-x: hidden;
}

.floating-bottom {
	position: fixed;
	bottom: 30px;
	left: 50px;
}

.smth, .lbs {
	text-align: center;
	text-transform: uppercase;
}

.smth {
	font-weight: 700;
	font-size: 1.8em;
}

.lbs {
	font-size: 1em;
	letter-spacing: 10px;
	margin-top: -12px;
}

main.title-box {
	width: 100%;
	height: auto;
	padding: 10px 0px;
	color: white;
}


.error-title {
	color: #00695c;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
}

.error_404 {
	text-align: center;
	color: black;
	font-weight: 700;
}

main.error {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
}

.calendar-title {
	display: inline-block;
	font-size: .9em;
}

.card-title {
	display: block;
}

.title-text {
	text-align: center;
	font-size: 2.5em;
	font-weight:  500;
	opacity: .7;
}

.user_prof_img {
	width: 80px;
	height: auto;
	border-radius: 50px;
	display: inline-block;
	border: 4px solid rgba(255,255,255, .2);
}

h5.user-name {
	font-size: 1em;
	color: white;
	font-weight: 600;
}

h5.user-email {
	font-size: .8em;
	color: white;

}

.user_prof_img:hover {
	border: 4px solid rgba(255,255,255, .5);
	transition: all .4s;
}

.user {
	padding: 20px 0;
}


span.date {
	font-size: .6em;
	color: black;
	opacity: .7;
}

@media screen and (max-width: 360px) {
	main.error {
		margin-top: -10px;
	}

}

@media screen and (max-width: 400px) {
	.font-size-1em {
		font-size: 30px;
	}

}

.border-top {
	position: relative;
}

.border-top:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: grey;
	opacity: .2;
	left: 5px;
	right: 0px;
}

.profile_name {
	color: black;
	font-family: 'Barlow', sans-serif;
	position: relative;
}

.font-size-1em {
	font-size: 1em;
}

.user_prof_img_green {
	width: 100px;
	height: auto;
	border-radius: 50px;
	display: inline-block;
	border: 4px solid rgba(77,182,172, .2);
}


.user_prof_img_green:hover {
	border: 4px solid rgba(77,182,172, .9);
	transition: all .5s;
}

.calendar-first-week  {
	display: inline-flex;
	margin: 0 auto;
}



.calendar-first-week li {
	padding: 5px;
	font-size: 1em;
	background: #eeeeee ;
	margin: 5px;
	border-radius: 6px;
	width: 30px;
	text-align: center;
}

.border-left {
	border-left: 3px solid #00796b;
	margin-top: 15px;
}

.card-content {
	position: relative;
}

.close-panel {
	position: absolute;
	bottom: 40%;
	right: 30px;
}

.card-content.grey {
	margin-top: 20px;
}

i.material-icons {
	text-align: center;
}

/*.dropdown-content li>a, .dropdown-content li>span {
	padding: 10px;
}*/

.calendar {
	max-width: 200px;
}
