@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

.floating-bottom {
	position: absolute;
	bottom: 30px;
	left: 50px;
}

.smth, .lbs {
	text-align: center;
	text-transform: uppercase;
}

.smth {
	font-weight: 700;
	font-size: 1.8em;
}

.lbs {
	font-size: 1em;
	letter-spacing: 10px;
	margin-top: -12px;
}

main {
	width: 100%;
	height: auto;
	padding: 10px 0px;
	color: white;
}

.error-title {
	color: #00695c;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
}

.error_404 {
	text-align: center;
	color: black;
	font-weight: 700;
}

main.error {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
}

.calendar-title {
	display: inline-block;
	font-size: .9em;
}

.card-title {
	display: block;
}