@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

body {
	font-family: 'Barlow', sans-serif;
}

.floating-bottom {
	position: absolute;
	bottom: 30px;
	left: 50px;
}

.smth, .lbs {
	text-align: center;
	text-transform: uppercase;
}

.smth {
	font-weight: 700;
	font-size: 1.8em;
}

.lbs {
	font-size: 1em;
	letter-spacing: 10px;
	margin-top: -12px;
}

main {
	width: 100%;
	height: auto;
	padding: 10px 0px;
	color: white;
}

.error-title {
	color: #00695c;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
}

.error_404 {
	text-align: center;
	color: black;
	font-weight: 700;
}

main.error {
	font-family: 'Montserrat', sans-serif;
	margin-top: 100px;
}

.calendar-title {
	display: inline-block;
	font-size: .9em;
}

.card-title {
	display: block;
}

.title-text {
	text-align: center;
	font-size: 2.5em;
	font-weight:  500;
	opacity: .7;
}

.user_prof_img {
	width: 80px;
	height: auto;
	border-radius: 50px;
	display: inline-block;
	border: 4px solid rgba(255,255,255, .2);
}

h5.user-name {
	font-size: 1em;
	color: white;
	font-weight: 600;
}

h5.user-email {
	font-size: .8em;
	color: white;

}

.user_prof_img:hover {
	border: 4px solid rgba(255,255,255, .5);
	transition: all .4s;
}

.user {
	padding: 20px 0;
}


span.date {
	font-size: .6em;
	color: black;
	opacity: .7;
}
